<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>
    
    <h1> {{ band_name }} </h1>
    
    <img src="{{ cover_link }}"></img>
    
    {% for genre in genres %}
    <ul>
        <form method = "post" action = "">
            <input type = "text" name = "data">
            <input type = "submit" name = "check" value = "Submit"><br>
        </form>
        <!--<li> {{ genre }} </li>-->
    </ul>
    {% endfor %}
    
</body>
</html>