
{% extends 'home/base.html' %}
{% block content %}

    <h3> {{ band_name }} </h3>
    
    <img src="{{ cover_link }}"></img>
    
    
    <ul>
        <form action = "{% url 'check_answer' %}">
            {% for genre in genres %}
            <input type = "text" name = "answer[]">
            <input type="hidden" name="right_answer[]" value="{{genre}}"/>
            {% endfor %}
            <input type = "submit" name = "check" value = "Submit"><br>
        </form>
    </ul>
    

{% endblock content %}